*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

@mixin flex-column($gap:0rem){
    display: flex;
    flex-direction: column;
    gap: 1rem;
}



main{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .form-container{
        @include flex-column(1rem);
        

        form{
           @include flex-column(1rem);
            width: 350px;
            

            input{
                outline: none;
                padding-inline: 1rem;
                padding-block: 0.9rem;

                border: none;
                border-radius: 20px;
                
            }
        }


    }
}