@use './button.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root{
    height: 100%;
    background-color: #0c0b0b;
    color: whitesmoke;
}

a{
    color: red;
    text-decoration: none;
}