*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body,#root{
    
    width: 100%;
}

html{
    background-color: rgb(28, 25, 25);
    color: rgb(210, 204, 204);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}